
:root{
    box-sizing: border-box;  
}

body{
    margin: 0 auto;
    padding: 0;
    font-family: 'Noto Sans JP', sans-serif;
    background-image: url(./images/alan-veas-HQ0QdmWd-MM-unsplash.jpg);
}

.container{
    max-width: 1140px;
    margin: 0 auto;
}

h1{
    font-size: 42px;
    font-weight: 600;
    color: white;
}
.mr-5{
    margin-right: 5px;
}

.flex{
    display: flex;
}

.justify-content-between{
    justify-content: space-between;
}

.justify-content-center{
    justify-content: center;
}

.align-items-center{
    align-items: center;
}

nav {
    background-color: rgb(182, 7, 182);
    color: white;
    width: 100%;
}

nav a{
    text-decoration: none;
}

nav .link{
    width: 400px;
    display: flex;
    justify-content: space-evenly;
}

a:link{
    color:white;
}

a:hover{
    color:rgb(199, 63, 10);
}


#summary{
    padding-top: 80px;
    /* background-image: url(./images/alan-veas-HQ0QdmWd-MM-unsplash.jpg); */
    background-size: 100%;
    color: white;

}

#summary .container{
    height: 80vh;
}

#summary .text{
    padding-left: 50px;
}

#summary .button{
    margin-top: 35px;
    border-radius: 500px;
    font-size: 14;
    font-weight: 700;
    padding: 17px 48px;
    background-color: wheat;
    color: rgb(212, 132, 132);
    letter-spacing: 2px;
    border: 0;

}

#summary .button:hover{
    transition-duration: 0.7s;
    transform: translate(30px, 30px);
 }

#profile{
    padding-top: 70px;
    /* background-image: url(./images/joe-woods-4Zaq5xY5M_c-unsplash.jpg); */
    background-size: 100%;
    background-position: center
}

#profile .container{
    height: 75vh;
}

#profile .text{
    color: white;
    font-weight: 700;
}

#profile img{
    padding-left: 30px;
}

#profile .button{
    margin-top: 35px;
    border-radius: 500px;
    font-size: 14;
    font-weight: 700;
    padding: 17px 48px;
    background-color: rgb(216, 185, 129);
    color: rgb(180, 39, 39);
    letter-spacing: 2px;
    border: 0;
}

#profile .button:hover{
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        animation-name: example;
        animation-duration: 1s;
        border-left: 20px solid red;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#skill{
    padding-top: 80px;
}

.col-style{
    justify-content: center;
    display: flex;
    
    }
    
.card:hover{
    transform: scale(1.2);
    transition: 1s;
}

.card{
    background-image: linear-gradient(to right top, #d6a8ed, #c09ee4, #ab94da, #958bd0, #7f81c5);
}

#project{
    padding: 80px;
    color: white;
}

#project .col-lg-4{
    color: rgb(255, 0, 242);
}

#project h3{
    color: rgb(175, 53, 53);
    font-weight: 600;
}  

#contact{
    color: white;
}

#contact h1{
    font-size: 56px;
}
#contact h3{
    color: yellowgreen;
}

#footer{
    background-color: rgb(182, 7, 182);
    padding: 10px;
    text-align: center;
    color: white;
}

